<a href="https://colab.research.google.com/github/MMRES-PyBootcamp/MMRES-python-bootcamp2023/blob/main/10_missing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Session 10 Working with missing data
> In this section, we will discuss missing (also referred to as NA) values in pandas. As data comes in many shapes and forms, pandas aims to be flexible with regard to handling missing data. While NaN is the default missing value marker for reasons of computational speed and convenience, we need to be able to easily detect this value with data of different types: floating point, integer, boolean, and general object. In many cases, however, the Python None will arise and we wish to also consider that “missing” or “not available” or “NA”.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame(
     np.random.randn(5, 3),
     index=["a", "c", "e", "f", "h"],
     columns=["one", "two", "three"]
     )

In [ ]:
df["four"]="bar"

In [ ]:
df["five"] = df["one"] > 0

In [ ]:
df2 = df.reindex(["a", "b", "c", "d", "e", "f", "g", "h"])

To make detecting missing values easier (and across different array dtypes), pandas provides the isna() and notna() functions, which are also methods on Series and DataFrame objects:

In [ ]:
pd.isna(df2["one"])

In [ ]:
df2["four"].notna()

In [ ]:
df2.isna()

One has to be mindful that in Python (and NumPy), the nan's don’t compare equal, but None's do. Note that pandas/NumPy uses the fact that np.nan != np.nan, and treats None like np.nan.

In [ ]:
None == None

In [ ]:
np.nan == np.nan

In [ ]:
df2["one"] == np.nan


#Cleaning / filling missing data
>pandas objects are equipped with various data manipulation methods for dealing with missing data.

##Filling missing values: fillna
fillna() can “fill in” NA values with non-NA data in a couple of ways, which we illustrate:

Replace NA with a scalar value

In [ ]:
df2

In [ ]:
df2.fillna(0)

In [ ]:
df2["one"].fillna("missing")

#Filling with a PandasObject
>You can also fillna using a dict or Series that is alignable. The labels of the dict or index of the Series must match the columns of the frame you wish to fill. The use case of this is to fill a DataFrame with the mean of that column.

In [ ]:
dff = pd.DataFrame(np.random.randn(10, 3), columns=list("ABC"))
dff.iloc[3:5, 0] = np.nan
dff.iloc[4:6, 1] = np.nan
dff.iloc[5:8, 2] = np.nan

In [ ]:
dff

In [ ]:
dff.fillna(dff.mean())

# Dropping axis labels with missing data: dropna
>You may wish to simply exclude labels from a data set which refer to missing data. To do this, use dropna():

In [ ]:
df["two"] = df["two"].fillna(0)

df["three"] = df["three"].fillna(0)

df

In [ ]:
df.dropna(axis=0)

In [ ]:
df.dropna(axis=1)